body {
    background-color:#a3d6e8;
    margin:100px 40px 40px 40px;
}

h1, h2 {
    text-align: center;
    font-family: cursive;
}

p {
    max-width:600px;
    margin:1rem auto;
}

img {
    width:600px;
    max-width: 100%;
}

.centered {
    text-align: center;
}